{% load static %}

<!-- Start Footer Area -->
        <div class="footer-area pt-130 pb-105 bg-gray2 border border-top-0">
            <div class="container mw-1380">
                <form class="subscribe-content">
                    <div class="d-flex align-items-center justify-content-center flex-wrap gap-4">
                        <span>Enter your email here</span>
                        <input type="text" class="form-control" placeholder="Email">
                        <button type="submit" class="btn border-0">Subscribe Now</button>
                    </div>
                </form>

                <div class="row justify-content-center">
                    <div class="col-lg-3">
                        <div class="footer-single-item">
                            <a href="index.html" class="d-inline-block logo">
                                <img src="assets/images/logo.svg" alt="logo">
                            </a>
                            <p>With a rich history spanning decades, our club has become a symbol of excellence in the golfing community. offers a challenging yet rewarding game play.</p>
                            <ul class="ps-0 mb-0 list-unstyled d-flex gap-4 flex-wrap social-link">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank">
                                        <i class="ri-twitter-x-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-9 ms-72">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="footer-single-item">
                                    <h3>Quick Links</h3>
                                    <ul class="ps-0 mb-0 list-unstyled additional-link">
                                        <li>
                                            <a href="history-fidelity.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="contact-us.html">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="management.html">Our Members</a>
                                        </li>
                                        <li>
                                            <a href="loan-programs.html">Services</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ’s</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="footer-single-item">
                                    <h3>Services</h3>
                                    <ul class="ps-0 mb-0 list-unstyled additional-link">
                                        <li>
                                            <a href="loan-programs.html">Commercial Loans</a>
                                        </li>
                                        <li>
                                            <a href="loan-programs.html">Conventional Mortgage</a>
                                        </li>
                                        <li>
                                            <a href="loan-programs.html">Renovation Mortgage</a>
                                        </li>
                                        <li>
                                            <a href="loan-programs.html">Reverse Mortgage</a>
                                        </li>
                                        <li>
                                            <a href="loan-programs.html">Private Mortgage</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="footer-single-item">
                                    <h3>Company</h3>
                                    <ul class="ps-0 mb-0 list-unstyled additional-link">
                                        <li>
                                            <a href="terms-conditions.html">Terms & Condition</a>
                                        </li>
                                        <li>
                                            <a href="history-fidelity.html">Our History</a>
                                        </li>
                                        <li>
                                            <a href="history-fidelity.html">Our Gallery</a>
                                        </li>
                                        <li>
                                            <a href="privacy-policy.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="index.html">Testimonial</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="footer-single-item">
                                    <h3>Our Contact</h3>
                                    <ul class="ps-0 mb-0 list-unstyled info-links">
                                        <li class="d-flex align-items-center">
                                            <i class="ri-mail-line"></i>
                                            <a href="mailto:hellolaks@gmail.com">hellolaks@gmail.com</a>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="ri-phone-fill"></i>
                                            <a href="tel:+487432602396">+48 74326 02396</a>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="ri-phone-fill"></i>
                                            <a href="tel:+486445396533">+48 64453 96533</a>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="ri-calendar-2-line"></i>
                                            <span>Mon - Fri 12:00 - 18:00</span>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="ri-map-pin-line"></i>
                                            <span>Hilton, TY56/90 NY, USA</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Area -->