{% load static %}

        <!-- Start Navbar Area -->
        <nav class="navbar navbar-expand-lg bg-white ptb-19" id="navbar">
            <div class="container mw-1380">
                <a class="navbar-brand" href="index.html">
                    <img src="{% static 'assets/images/logo.svg' %}" class="main-logo" alt="white-logo">
                    <img src="{% static 'assets/images/white-logo.svg' %}" class="white-logo d-none" alt="white-logo">
                </a>
                <a class="navbar-toggler" data-bs-toggle="offcanvas" href="#navbarOffcanvas" role="button" aria-controls="navbarOffcanvas">
                    <span class="burger-menu">
                        <span class="top-bar"></span>
                        <span class="middle-bar"></span>
                        <span class="bottom-bar"></span>
                    </span>
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'index' %}" role="button" aria-expanded="false">
                                Home
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'loan_program' %}" role="button" aria-expanded="false">
                                Home Loan
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'loan_program_detail' %}" role="button" aria-expanded="false">
                                BT Home Loan
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'calculator' %}" role="button" aria-expanded="false">
                                Calculator
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'about' %}" role="button" aria-expanded="false">
                                About Us
                            </a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'contact-us' %}">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>

                <ul class="others-options ps-0 mb-0 list-unstyled justify-content-end">
                    <li>
                        <a href="calculate-mortgage.html" class="btn btn-primary">
                            Apply Now
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Navbar Area -->

        <!-- Start Mobile Navbar Area -->
        <div class="mobile-navbar offcanvas offcanvas-end border-0" data-bs-backdrop="static" tabindex="-1" id="navbarOffcanvas">
            <div class="offcanvas-header">
                <a href="index.html" class="logo d-inline-block">
                    <img src="{% static 'assets/images/logo.svg' %}" alt="logo">
                </a>
                <a href="index.html" class="logo d-none">
                    <img src="{% static 'assets/images/white-logo.svg' %}" alt="logo">
                </a>

                <button type="button" class="close-btn bg-transparent position-relative lh-1 p-0 border-0" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="ri-close-fill"></i>
                </button>
            </div>

            <div class="offcanvas-body">
                <ul class="mobile-menu">
                    <li class="mobile-menu-list active">
                        <a href="{% url 'index' %}">
                            Home
                        </a>
                    </li>

                    <li class="mobile-menu-list">
                        <a href="{% url 'loan_program' %}">
                            Home Loan
                        </a>
                    </li>

                    <li class="mobile-menu-list">
                        <a href="{% url 'loan_program_detail' %}">
                            BT Home Loan
                        </a>
                    </li>

                    <li class="mobile-menu-list">
                        <a href="{% url 'calculator' %}">
                            Calculator
                        </a>
                    </li>

                    <li class="mobile-menu-list">
                        <a href="{% url 'about' %}">
                            About Us
                        </a>
                    </li>

                    <li class="mobile-menu-list without-icon">
                        <a href="{% url 'contact-us' %}" class="nav-link">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Mobile Navbar Area -->