/* Guide Area Style
============================================*/
.guide-wrap {
    border-radius: 12px;
    background: linear-gradient(93deg, #659831 0%, #426900 100%);
    padding: 68px 80px;
}
.guide-content {
    h2 {
        font-size: 36px;
        line-height: 1.3;
        margin-bottom: 25px;
        color: $white;
        &:last-child {
            margin-bottom: 0;
        }
    }
    p {
        color: rgba(255, 255, 255, 0.77);
    }
}
.guide-info {
    max-width: 325px;
    margin-left: auto;
    ul {
        margin-bottom: 30px;
        li {
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            i {
                color: $white;
                margin-right: 8px;
            }
            a {
                text-decoration: none;
                color: $white;
                font-family: $heading-font-family;
            }
        }
    }
    .btn {
        background: linear-gradient(135deg, $white 0%, $white 100%);
        color: $primary;
        &::before {
            background: linear-gradient(135deg, $white 0%, $white 100%);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .guide-wrap {
        padding: 25px;
    }
    .guide-content {
        h2 {
            font-size: 26px;
            margin-bottom: 15px;
        }
    }
    .guide-info {
        max-width: 100%;
        margin-top: 30px;
        ul {
            li {
                font-size: 16px;
            }
        }
    }
    
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .guide-wrap {
        padding: 50px;
    }
    .guide-content {
        h2 {
            font-size: 30px;
            margin-bottom: 15px;
        }
    }
    .guide-info {
        max-width: 100%;
        margin-top: 30px;
    }
}