/* RTL Area Style
============================================*/
.settings-btn {
    background-color: $danger;
    padding: 8px 10px;
    display: inline-block;
    color: $white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: $transition;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    input {
        width: 0;
        height: 0;
        opacity: 0;
        cursor: pointer;
    }
    .slider {
        position: relative;
        &:before {
            content: "Click To RTL";
            cursor: pointer;
        }
        &:after {
            content: "Click To LTR";
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }
}

.rtl {
    direction: rtl;
    .settings-btn {
        background-color: $primary;
        .slider {
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
                top: 0;
            }
        }
    }
    ul {
        padding-right: 0;
    }
    .ms-2 {
        margin-left: 0 !important;
        margin-right: 0.5rem !important;
    }
    .ms-1 {
        margin-left: 0 !important;
        margin-right: 0.25rem !important;
    }
    .end-0 {
        right: auto !important;
        left: 0 !important;
    }
    .ms-sm-3 {
        margin-left: 0 !important;
        margin-right: 1rem !important;
    }
    .pe-3 {
        padding-right: 0 !important;
        padding-left: 1rem !important;
    }
    #backtotop {
        right: auto;
        left: 30px;
    }
    .navbar {
        .navbar-nav {
            .nav-item {
                &:last-child {
                    margin-left: 0;
                    margin-right: 11.5px;
                }
                &:first-child {
                    margin-left: 11.5px;
                    margin-right: 0;
                }
                .dropdown-menu {
                    left: auto;
                    right: 0;
                }
                &.mega-menu {
                    .dropdown-menu {
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }
    .navbar-brand {
        margin-right: 0;
        margin-left: 15px;
    }
    .navbar.nav-style-three .navbar-nav .nav-item:nth-child(7) .dropdown-menu {
        left: 0;
        right: auto;
    }
    .navbar.nav-style-three .navbar-nav .nav-item:nth-child(6) .dropdown-menu {
        left: 0;
        right: auto;
    }
    .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
        left: auto;
        right: -100%;
    }
    .sub-menu {
        padding: 0;
        list-style: unset;
    }
    .btn {
        i {
            margin-left: 0;
            margin-right: 10px;
        }
        img {
            margin-left: 0;
            margin-right: 10px;
        }
    }
    .ms-auto {
        margin-left: 0 !important;
        margin-right: auto !important;
    }
    .import-link {
        li {
            margin-right: 0;
            padding-right: 0;
            margin-left: 13px;
            padding-left: 13px;
            border-right: none;
            border-left: 1px solid #A9A9A9;
            &:last-child {
                margin-left: 0;
                padding-left: 0; 
                border: none;
            }
        }
    }
    .info-link {
        li {
            margin-right: 0;
            padding-right: 0;
            margin-left: 20px;
            padding-left: 20px;
            border-right: none;
            border-left: 1px solid #A9A9A9;
            &:last-child {
                margin-left: 0;
                padding-left: 0; 
                border: none;
            }
        }
    }
    .banner-slide {
        direction: ltr !important;
    }
    .partner-slide {
        direction: ltr !important;
    }
    .buying-slide {
        direction: ltr !important;
    }
    .testimonials-slide {
        direction: ltr !important;
    }
    .testimonials-slide-two {
        direction: ltr !important;
    }
    .blog-slide-two {
        direction: ltr !important;
    }
    .blog-slide {
        direction: ltr !important;
    }
    .banner-content {
        margin-left: auto;
        margin-right: 0;
        text-align: right;
        .banner-btn {
            justify-content: right;
        }
    }
    .float-md-end {
        float: left !important;
    }
    .banner-bg-1 {
        &::before {
            background-image: linear-gradient(to right, transparent, $secondary);
        }
    }
    .top-rated {
        margin-left: 0;
        margin-right: auto;
        text-align: right;
    }
    .calculate-content {
        margin-left: 0;
        margin-right: 62px;
    }
    .form-select {
        background-position: left 0.75rem center;
    }
    .buying-single-item {
        .buying-content {
            text-align: right;
        }
    }
    .process-content {
        &.mw-420 {
            margin-left: 0;
            margin-right: auto;
        }
    }
    .team-member-single-item {
        .ms-34 {
            margin-left: 0;
            margin-right: 34px;
        }
    }
    .ms-3 {
        margin-left: 0 !important;
        margin-right: 1rem !important;
    }
    .review-on-point {
        margin-left: 0;
        margin-right: auto;
        .stars {
            margin-left: 0;
            margin-right: 31px;
        }
        .trast {
            margin-left: 20px;
            margin-right: 0;
        }
    }
    .review-on-bg {
        &::before {
            background-image: linear-gradient(to right, transparent, $secondary);
        }
    }
    .blog-single-item {
        .blog-info {
            li {
                padding-right: 0;
                margin-right: 0;
                padding-left: 10px;
                margin-left: 10px;
                border-right: none;
                border-left: 1px solid rgba(101, 152, 49, 0.23);
                &:last-child {
                    border: none;
                    padding-left: 0;
                    margin-left: 0;
                }
            }
        }
    }
    .guide-info {
        margin-left: 0;
        margin-right: auto;
    }
    .shape {
        &.shape-2 {
            right: auto;
            left: 501px;
        }
    }
    .footer-single-item {
        .info-links {
            li {
                i {
                    margin-right: 0;
                    margin-left: 9px;
                }
            }
        }
    }
    .banner-content {
        &.style-two {
            .read-more {
                margin-left: 0;
                margin-right: 40px;
            }
        }
    }
    .popular-clients {
        ul {
            li {
                &.clients {
                    margin-left: 0;
                    margin-right: 20px;
                }
            }
        }
    }
    .accordion-button::after {
        margin-left: 0;
        margin-right: auto;
    }
    .why-us-single-item {
        h3 {
            margin-left: 0;
            margin-right: 15px;
        }
    }
    .why-us-item-wrap {
        margin-right: 0;
        margin-left: -112px;
    }
    .testimonials-single-item-two {
        text-align: right;
        .info {
            margin-right: 0;
        }
    }
    .all-testimonials {
        left: auto;
        right: 30px;
    }
    .accordion.faq {
        margin-left: 0;
        margin-right: -111px;
    }
    .banner-content {
        &.style-three {
            margin: auto;
            .read-more {
                margin-left: 0;
                margin-right: 40px;
            }
        }
    }
    .private-loan-list {
        margin-right: 0;
        margin-left: 135px;
    }
    .about-us-wrap.text-center.text-lg-end {
        text-align: left !important;
    }
    .google-map {
        margin-right: 0;
        margin-left: 0;
        margin-left: -360px;
        margin-right: 32px;
    }
    .page-banner-img.text-center.text-lg-end.position-relative.z-1 {
        text-align: left !important;
    }
    .shape.shape-7 {
        left: auto;
        right: 85px;
    }
    .shape.shape-8 {
        left: auto;
        right: -150px;
    }
    .page-banner-content .breadcrumbs li {
        margin-right: 0;
        padding-right: 0;
        margin-left: 8px;
        padding-left: 10px;
        &::before {
            right: auto;
            left: 0;
        }
        &:last-child {
            margin-left: 0;
            padding-left: 0;
        }
    }
    .details-contenet {
        .list-style.easy-list {
            li {
                left: auto;
                right: 0;
                padding-left: 0;
                padding-right: 15px;
                &::before {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    .ms-lg-5 {
        margin-left: 0 !important;
        margin-right: 3rem !important;
    }
    .ps-lg-3 {
        padding-left: 0 !important;
        padding-right: 1rem !important;
    }
    .blog-single-item {
        &.style-three {
            text-align: right;
            .blog-content {
                .blog-info {
                    justify-content: end;
                    li {
                        padding-left: 0;
                        margin-left: 0;
                        padding-right: 10px;
                        margin-right: 10px;
                        border-left: 0;
                        border-right: 1px solid rgba(101, 152, 49, 0.23);
                        &:last-child {
                            padding-right: 0;
                            margin-right: 0;
                            border: 0;
                        }
                    }
                }
            }
        }
    }
    .career-search-form .src-btn {
        left: 15px !important;
    }
    .flex-grow-1.ms-lg-3.text-sm-end.mt-3.mt-lg-0 {
        text-align: left !important;
    }
    .details-contenet {
        .list-style {
            li {
                padding-left: 0;
                padding-right: 15px;
                &::before {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    .accordion.faq.me-111 {
        margin-right: 0;
        margin-left: -111px !important;
    }
    .faq-img {
        .text-end {
            text-align: left !important;
        }
    }
    .details-contenet {
        .blog-info {
            li {
                padding-right: 0;
                margin-right: 0;
                padding-left: 10px;
                margin-left: 10px;
                border-right: none;
                border-left: 1px solid rgba(101, 152, 49, 0.23);
                &:last-child {
                    padding-left: 0;
                    margin-left: 0;
                    border-left: none;
                }
            }
        }
        .blog-social {
            li {
                margin-right: 0;
                margin-left: 17px;
                &:last-child {
                    margin-left: 0;
                }
            }
        }
        .blog-tags {
            li {
                margin-right: 0;
                margin-left: 8px;
                span {
                    margin-right: 0;
                    margin-left: 9px;
                }
            }
        }
    }
    .contact-info-single-item {
        ul {
            li {
                a {
                    margin-left: 0;
                    margin-right: 10px;
                }
                span {
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
        }
    }
    .blog-single-item.style-two {
        text-align: right;
        .tags  {
            justify-content: right;
        }
    }
    
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    
    .rtl {
        .process-single-item {
            img {
                display: none;
            }
        }
        .navbar {
            .others-options {
                right: auto;
                left: 60px;
                top: 7px;
            }
        
        }
        .info-link {
            li {
                border: none;
                padding-left: 0;
                margin-left: 0;
            }
        }
        .btn {
            img {
                margin-right: 0;
            }
        }
        .calculate-content {
            margin-right: 0;
        }
        .team-member-single-item {
            .ms-34 {
                margin-right: 0;
            }
        }
        .why-us-item-wrap {
            margin-left: 0;
        }
        .all-testimonials {
            display: none;
        }
        .accordion.faq {
            margin-right: 0;
        }
        .private-loan-list {
            margin-right: 0;
            margin-left: 0;
        }
        .google-map {
            margin: 0;
        }
        .banner-content {
            &.style-three {
                text-align: center !important;
            }
        }
        .ps-lg-3 {
            padding-right: 0 !important;
        }
        .ms-lg-5 {
            margin-right: 0 !important;
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .rtl {
        .process-single-item {
            img {
                display: none;
            }
        }
        .navbar {
            .others-options {
                right: auto;
                left: 60px;
                top: 5px;
            }
        
        }
        .info-link {
            li {
                border: none;
                padding-left: 0;
                margin-left: 0;
            }
        }
        .btn {
            img {
                margin-right: 0;
            }
        }
        .calculate-content {
            margin-right: 0;
        }
        .team-member-single-item {
            .ms-34 {
                margin-right: 0;
            }
        }

        .why-us-item-wrap {
            margin-left: 0;
        }
        .all-testimonials {
            display: none;
        }
        .accordion.faq {
            margin-right: 0;
        }
        .private-loan-list {
            margin-right: 0;
            margin-left: 0;
        }
        .google-map {
            margin: 0;
        }
        .banner-content {
            &.style-three {
                text-align: center !important;
            }
        }
        .ps-lg-3 {
            padding-right: 0 !important;
        }
        .ms-lg-5 {
            margin-right: 0 !important;
        }
    }
    

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px)  {

    .rtl {
        .navbar {
            .navbar-nav .nav-item .dropdown-menu {
                left: 0;
                right: auto;
            }
            .others-options {
                .btn i {
                    margin-right: 0;
                }
            }
        }
        .navbar {
            &.nav-style-three {
                .navbar-nav {
                    .nav-item {
                        &:nth-child(6) {
                            .dropdown-menu {
                                li {
                                    .dropdown-menu {
                                        right: auto;
                                        left: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .team-member-single-item {
            .ms-34 {
                margin-right: 0;
            }
        }

        .why-us-item-wrap {
            margin-left: 0;
        }
        .all-testimonials {
            display: none;
        }
        .accordion.faq {
            margin-right: 0;
        }
        .testimonial-img-wrap {
            margin-left: 0;
        }
        .private-loan-list {
            margin-right: 0;
            margin-left: 0;
        }
        .ps-lg-3 {
            padding-right: 0 !important;
        }
        .ms-lg-5 {
            margin-right: 0 !important;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width : 1200px) and (max-width : 1399px) {

    .rtl {
        .navbar {
            .navbar-nav .nav-item .dropdown-menu {
                left: 0;
                right: auto;
            }
            .others-options {
                .btn i {
                    margin-right: 0;
                }
            }
        }
        .navbar {
            &.nav-style-three {
                .navbar-nav {
                    .nav-item {
                        &:nth-child(6) {
                            .dropdown-menu {
                                li {
                                    .dropdown-menu {
                                        right: auto;
                                        left: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .testimonial-img-wrap {
            margin-left: 0;
        }
        .private-loan-list {
            margin-left: 0;
        }
        .shape.shape-4 {
            left: 0 !important;
        }
    }
    
}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width : 1400px) and (max-width : 1799px) {

    .rtl {
        .navbar {
            &.nav-style-three {
                .navbar-nav {
                    .nav-item {
                        &:nth-child(6) {
                            .dropdown-menu {
                                li {
                                    .dropdown-menu {
                                        right: auto;
                                        left: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .testimonial-img-wrap {
            margin-left: 0;
        }
        .shape.shape-4 {
            left: 0 !important;
        }
    }
    

}

@media only screen and (max-width : 1199px) {

    .rtl {
        .authentication-form {
            padding: 25px;
        }
    }

}