{% extends 'include/base.html' %}
{% load static %}
{% block content %}

        <!-- Start Page Banner Area -->
        <div class="page-banner-area bg-gray2">
            <div class="container mw-1380">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="page-banner-content">
                            <ul class="ps-0 list-unstyled breadcrumbs">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <span>History & Fidelity</span>
                                </li>
                            </ul>
                            <h2>Redefining Homeownership: Real Estate Mortgages Tailored to Your Ambitions</h2>
                            <p>We truly care about what is best for you! From pre-approval to closing, our goal is to provide you with the best service while saving you money. We provide a completely customized experience, and will find the right loan program and best terms for you.</p>
                            <a href="loan-programs.html" class="read-more text-primary">
                                View All Program Loans
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="page-banner-img text-center text-lg-end position-relative z-1">
                            <img src="{% static 'assets/images/banner-img-1.jpg' %}" class="img" alt="banner-img">
                            <img src="{% static 'assets/images/shape-7.png' %}" class="shape shape-7" alt="shape">
                            <img src="{% static 'assets/images/shape-8.png' %}" class="shape shape-8" alt="shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area -->

        <!-- Start About Us Area -->
        <div class="about-us-area ptb-130">
            <div class="container mw-1380">
                <div class="about-us-content">
                    <p>We truly care about what is best for you! From pre-approval to closing, our goal is to provide you with the best service while saving you money. We provide a completely customized experience, and will find the right loan program and best terms for you. The most important part of our success is our clients and real estate agents who trust us every day to educate and advocate for them in the mortgage process.</p>

                    <div class="row align-items-center">
                        <div class="col-lg-5 text-center text-lg-start">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="about-img-1 mb-4 mb-sm-0">
                                        <img src="{% static 'assets/images/about-1.jpg' %}" alt="about">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="about-img-2 mb-4 mb-sm-0">
                                        <img src="{% static 'assets/images/about-2.jpg' %}" alt="about">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="ms-lg-5 ps-lg-3">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="fan-facet-single-item">
                                            <h1><span class="counter">78</span><span>%</span></h1>
                                            <span>Business from Referrals</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="fan-facet-single-item ms-xl-5">
                                            <h1><span class="counter">45</span><span>+</span></h1>
                                            <span>Minute Verbal Commitment</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="popular-clients-wrap mb-4 mb-lg-0">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="popular-clients">
                                                <ul class="ps-0 mb-0 list-unstyled d-flex align-items-center justify-content-center justify-content-sm-start">
                                                    <li>
                                                        <a href="history-fidelity.html">
                                                            <img src="{% static 'assets/images/testimonial-5.jpg' %}" alt="testimonial">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="history-fidelity.html">
                                                            <img src="{% static 'assets/images/testimonial-6.jpg' %}" alt="testimonial">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="history-fidelity.html">
                                                            <img src="{% static 'assets/images/testimonial-7.jpg' %}" alt="testimonial">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="history-fidelity.html">
                                                            <img src="{% static 'assets/images/testimonial-8.jpg' %}" alt="testimonial">
                                                        </a>
                                                    </li>
                                                    <li class="clients">
                                                        <span>8665+ Popular Clients</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <a href="history-fidelity.html" class="read-more text-primary text-center text-sm-end d-block mt-3 mt-sm-0">
                                                Know More About Us
                                                <i class="flaticon-right-arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Us Area -->

        <!-- End Partner Logo Area -->
        <div class="partner-area overflow-hidden">
            <div class="container-fluid p-0">
                <div class="swiper partner-slide">
                    <div class="swiper-wrapper text-center">
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-1.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-2.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-3.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-4.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-5.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-6.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-7.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-8.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-1.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-2.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-3.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-4.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-5.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-6.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-7.png' %}" alt="partner">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="history-fidelity.html">
                                <img src="{% static 'assets/images/partner-8.png' %}" alt="partner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Partner Logo Area -->

        <!-- Start Why Us Area -->
        <div class="why-us-area pt-130 pb-105">
            <div class="container mw-1380">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="why-us-content">
                            <h2>You know the home you want. We make it happen for your need.</h2>
                            <p>Most people find that mortgage financing is complicated and confusing. We help you buy your dream home by simplifying the mortgage financing process with personalized loan options that save you time and money.</p>
                        </div>

                        <div class="why-us-item-wrap">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="why-us-single-item">
                                        <div class="d-flex align-items-center">
                                            <i class="flaticon-currency"></i>
                                            <h3>Competitive Rates</h3>
                                        </div>
                                        <p>The amount a lender is willing to lend to financing your purchase fact in your ratio of debt to income, among other things.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="why-us-single-item">
                                        <div class="d-flex align-items-center">
                                            <i class="flaticon-credit-card"></i>
                                            <h3>No Prepayment Fees</h3>
                                        </div>
                                        <p>The amount a lender is willing to lend to financing your purchase fact in your ratio of debt to income, among other things.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="why-us-single-item">
                                        <div class="d-flex align-items-center">
                                            <i class="flaticon-rating"></i>
                                            <h3>Simple Qualification</h3>
                                        </div>
                                        <p>The amount a lender is willing to lend to financing your purchase fact in your ratio of debt to income, among other things.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="why-us-single-item">
                                        <div class="d-flex align-items-center">
                                            <i class="flaticon-house"></i>
                                            <h3>Home Refinance</h3>
                                        </div>
                                        <p>The amount a lender is willing to lend to financing your purchase fact in your ratio of debt to income, among other things.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="why-us-img text-center border-bottom">
                            <img src="{% static 'assets/images/why-us.jpg' %}" alt="why-us">

                            <a href="history-fidelity.html" class="read-more text-primary">
                                Know More About Us
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Why Us Area -->

        <!-- Start Fan Fact Area -->
        <div class="fan-facet-area pb-105">
            <div class="container mw-1380">
                <div class="d-sm-flex justify-content-between align-items-center flex-wrap">
                    <div class="fan-facet-single-item">
                        <h1><span class="counter">678</span><span>+</span></h1>
                        <p>Volunteers Participated</p>
                    </div>
                    <div class="fan-facet-single-item">
                        <h1><span class="counter">80</span><span>k+</span></h1>
                        <p>Veteran Home Completed</p>
                    </div>
                    <div class="fan-facet-single-item">
                        <h1><span class="counter">27</span><span>+</span></h1>
                        <p>Years in Business</p>
                    </div>
                    <div class="fan-facet-single-item">
                        <h1><span class="counter">89</span><span>m+</span></h1>
                        <p>Customer Worldwide</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Fan Fact Area -->

        <!-- Start Team Member Area -->
        <div class="team-member-area pb-105">
            <div class="container mw-1380">
                <div class="section-title">
                    <h2>Visit our professional team member for your any help from us</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="team-member-single-item border transition-y">
                            <div class="d-md-flex align-items-center">
                                <a href="management-details.html" class="flex-shrink-0 mb-4 mb-md-0 d-block">
                                    <img src="{% static 'assets/images/team-1.jpg' %}" alt="team">
                                </a>
                                <div class="flex-grow-1 ms-34">
                                    <span class="title">Office Manager</span>
                                    <h3>
                                        <a href="management-details.html">Michael Anderson</a>
                                    </h3>
                                    <ul class="ps-0 mb-0 list-unstyled">
                                        <li>
                                            <i class="ri-phone-fill"></i>
                                            <a href="tel:+1332455533">+1 3324 55 533</a>
                                        </li>
                                        <li>
                                            <i class="ri-map-pin-line"></i>
                                            <span>Hilton Road, 90KY, NY, America</span>
                                        </li>
                                        <li>
                                            <i class="ri-mail-line"></i>
                                            <a href="mailto:michaelanderson@laks.com">michaelanderson@laks.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="team-member-single-item border transition-y">
                            <div class="d-md-flex align-items-center">
                                <a href="management-details.html" class="flex-shrink-0 mb-4 mb-md-0 d-block">
                                    <img src="{% static 'assets/images/team-2.jpg' %}" alt="team">
                                </a>
                                <div class="flex-grow-1 ms-34">
                                    <span class="title">Business Manager</span>
                                    <h3>
                                        <a href="management-details.html">Jennifer Brown</a>
                                    </h3>
                                    <ul class="ps-0 mb-0 list-unstyled">
                                        <li>
                                            <i class="ri-phone-fill"></i>
                                            <a href="tel:+1332455534">+1 3324 55 534</a>
                                        </li>
                                        <li>
                                            <i class="ri-map-pin-line"></i>
                                            <span>Hilton Road, 90KY, NY, America</span>
                                        </li>
                                        <li>
                                            <i class="ri-mail-line"></i>
                                            <a href="mailto:lauramartinez@laks.com">lauramartinez@laks.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="team-member-single-item border transition-y">
                            <div class="d-md-flex align-items-center">
                                <a href="management-details.html" class="flex-shrink-0 mb-4 mb-md-0 d-block">
                                    <img src="{% static 'assets/images/team-3.jpg' %}" alt="team">
                                </a>
                                <div class="flex-grow-1 ms-34">
                                    <span class="title">Loan Officer</span>
                                    <h3>
                                        <a href="management-details.html">Laura Martinez</a>
                                    </h3>
                                    <ul class="ps-0 mb-0 list-unstyled">
                                        <li>
                                            <i class="ri-phone-fill"></i>
                                            <a href="tel:+1332455535">+1 3324 55 535</a>
                                        </li>
                                        <li>
                                            <i class="ri-map-pin-line"></i>
                                            <span>Hilton Road, 90KY, NY, America</span>
                                        </li>
                                        <li>
                                            <i class="ri-mail-line"></i>
                                            <a href="mailto:loanofficer@laks.com">loanofficer@laks.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="team-member-single-item border transition-y">
                            <div class="d-md-flex align-items-center">
                                <a href="management-details.html" class="flex-shrink-0 mb-4 mb-md-0 d-block">
                                    <img src="{% static 'assets/images/team-4.jpg' %}" alt="team">
                                </a>
                                <div class="flex-grow-1 ms-34">
                                    <span class="title">CEO at Laks</span>
                                    <h3>
                                        <a href="management-details.html">Richard Jackson</a>
                                    </h3>
                                    <ul class="ps-0 mb-0 list-unstyled">
                                        <li>
                                            <i class="ri-phone-fill"></i>
                                            <a href="tel:+1332455536">+1 3324 55 536</a>
                                        </li>
                                        <li>
                                            <i class="ri-map-pin-line"></i>
                                            <span>Hilton Road, 90KY, NY, America</span>
                                        </li>
                                        <li>
                                            <i class="ri-mail-line"></i>
                                            <a href="mailto:richardjackson@laks.com">richardjackson@laks.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Team Member Area -->

        <div class="container-fluid p-0">
            <img src="{% static 'assets/images/testimonial-bg.jpg' %}" alt="testimonial-bg">
        </div>

        <!-- Start Testimonials On Area -->
        <div class="testimonials-area">
            <div class="container mw-1380">
                <div class="swiper testimonials-slide position-relative">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonials-single-item position-relative z-1">
                                <ul class="ps-0 list-unstyled d-flex justify-content-center gap-1">
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                </ul>
                                <p>Laks  helped my wife and I refinance our house and purchase an investment property. Anyone could have done that but what I really liked about her is that she was extremely ethical. She carefully listened to our concerns and gave us excellent advice. She was also very patient. I would absolutely recommend her and do business with her again especially if you are a first-time investor.</p>

                                <div class="d-flex justify-content-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="flex-shrink-0">
                                            <img src="{% static 'assets/images/testimonial-1.jpg' %}" class="rounded-circle img" alt="testimonial">
                                        </div>
                                        <div class="flex-grow-1 ms-3 text-start">
                                            <h3>William John</h3>
                                            <span>05 days ago</span>
                                        </div>
                                    </div>
                                </div>

                                <img src="{% static 'assets/images/shape-1.png' %}" class="shape shape-1" alt="shape">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonials-single-item position-relative z-1">
                                <ul class="ps-0 list-unstyled d-flex justify-content-center gap-1">
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                </ul>
                                <p>Laks  helped my wife and I refinance our house and purchase an investment property. Anyone could have done that but what I really liked about her is that she was extremely ethical. She carefully listened to our concerns and gave us excellent advice. She was also very patient. I would absolutely recommend her and do business with her again especially if you are a first-time investor.</p>

                                <div class="d-flex justify-content-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="flex-shrink-0">
                                            <img src="{% static 'assets/images/testimonial-2.jpg' %}" class="rounded-circle img" alt="testimonial">
                                        </div>
                                        <div class="flex-grow-1 ms-3 text-start">
                                            <h3>John Dew</h3>
                                            <span>03 days ago</span>
                                        </div>
                                    </div>
                                </div>

                                <img src="{% static 'assets/images/shape-1.png' %}" class="shape shape-1" alt="shape">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonials-single-item position-relative z-1">
                                <ul class="ps-0 list-unstyled d-flex justify-content-center gap-1">
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill"></i>
                                    </li>
                                </ul>
                                <p>Laks  helped my wife and I refinance our house and purchase an investment property. Anyone could have done that but what I really liked about her is that she was extremely ethical. She carefully listened to our concerns and gave us excellent advice. She was also very patient. I would absolutely recommend her and do business with her again especially if you are a first-time investor.</p>

                                <div class="d-flex justify-content-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="flex-shrink-0">
                                            <img src="{% static 'assets/images/testimonial-3.jpg' %}" class="rounded-circle img" alt="testimonial">
                                        </div>
                                        <div class="flex-grow-1 ms-3 text-start">
                                            <h3>Alex Smith</h3>
                                            <span>01 days ago</span>
                                        </div>
                                    </div>
                                </div>

                                <img src="{% static 'assets/images/shape-1.png' %}" class="shape shape-1" alt="shape">
                            </div>
                        </div>
                    </div>

                    <div class="testimonials-controller">
                        <div class="controller-icon prev3">
                            <i class="flaticon-left-arrow"></i>
                        </div>
                        <div class="controller-icon next3">
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonials On Area -->
        <!-- Start Blog Area -->
        <div class="blog-area style-three ptb-130 overflow-hidden">
            <div class="container mw-1380">
                <div class="section-title">
                    <h2>Read the latest news on lending from Laks Mortgage company</h2>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="swiper blog-slide-two">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="blog-single-item style-three">
                                <div class="blog-content">
                                    <ul class="tags d-flex ps-0 list-unstyled flex-wrap gap-2">
                                        <li>
                                            <a href="tags.html">London</a>
                                        </li>
                                        <li>
                                            <a href="tags.html">Europe</a>
                                        </li>
                                    </ul>
                                    <h3>
                                        <a href="blog-details.html">Why Slovenia its dining should Be on your this is European bucket List in the dribbble</a>
                                    </h3>
                                    <p>If you are looking for a lender who offers competitive prices and products, stands behind its commitments, is honest and will not walk away from you after your loan closes, call us to speak to one of our knowledgeable loan originators.</p>
                                    <ul class="ps-0 mb-0 list-unstyled d-flex flex-wrap blog-info">
                                        <li>
                                            <a href="author.html">
                                                <i class="ri-user-3-line"></i>
                                                <span>Admin</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <i class="ri-message-2-line"></i>
                                                <span>02 Comments</span>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="ri-calendar-2-line"></i>
                                            <span>08 June, 2024</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-single-item style-three">
                                <div class="blog-content">
                                    <ul class="tags d-flex ps-0 list-unstyled flex-wrap gap-2">
                                        <li>
                                            <a href="tags.html">Driving</a>
                                        </li>
                                        <li>
                                            <a href="tags.html">Striking</a>
                                        </li>
                                    </ul>
                                    <h3>
                                        <a href="blog-details.html">Super Bowl ad features a literally striking visual full self-driving for your project</a>
                                    </h3>
                                    <p>If you are looking for a lender who offers competitive prices and products, stands behind its commitments, is honest and will not walk away from you after your loan closes, call us to speak to one of our knowledgeable loan originators.</p>
                                    <ul class="ps-0 mb-0 list-unstyled d-flex flex-wrap blog-info">
                                        <li>
                                            <a href="author.html">
                                                <i class="ri-user-3-line"></i>
                                                <span>Admin</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <i class="ri-message-2-line"></i>
                                                <span>45 Comments</span>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="ri-calendar-2-line"></i>
                                            <span>07 June, 2024</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-single-item style-three">
                                <div class="blog-content">
                                    <ul class="tags d-flex ps-0 list-unstyled flex-wrap gap-2">
                                        <li>
                                            <a href="tags.html">Work</a>
                                        </li>
                                        <li>
                                            <a href="tags.html">Artists</a>
                                        </li>
                                    </ul>
                                    <h3>
                                        <a href="blog-details.html">These three young artists are redefining jewelry with deeply personal work</a>
                                    </h3>
                                    <p>If you are looking for a lender who offers competitive prices and products, stands behind its commitments, is honest and will not walk away from you after your loan closes, call us to speak to one of our knowledgeable loan originators.</p>
                                    <ul class="ps-0 mb-0 list-unstyled d-flex flex-wrap blog-info">
                                        <li>
                                            <a href="author.html">
                                                <i class="ri-user-3-line"></i>
                                                <span>Admin</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <i class="ri-message-2-line"></i>
                                                <span>22 Comments</span>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="ri-calendar-2-line"></i>
                                            <span>28 June, 2024</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog-single-item style-three">
                                <div class="blog-content">
                                    <ul class="tags d-flex ps-0 list-unstyled flex-wrap gap-2">
                                        <li>
                                            <a href="tags.html">ChatGPT</a>
                                        </li>
                                        <li>
                                            <a href="tags.html">Internet</a>
                                        </li>
                                    </ul>
                                    <h3>
                                        <a href="blog-details.html">ChatGPT frenzy sweeps China as firms as that scramble home-grown</a>
                                    </h3>
                                    <p>If you are looking for a lender who offers competitive prices and products, stands behind its commitments, is honest and will not walk away from you after your loan closes, call us to speak to one of our knowledgeable loan originators.</p>
                                    <ul class="ps-0 mb-0 list-unstyled d-flex flex-wrap blog-info">
                                        <li>
                                            <a href="author.html">
                                                <i class="ri-user-3-line"></i>
                                                <span>Admin</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <i class="ri-message-2-line"></i>
                                                <span>06 Comments</span>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="ri-calendar-2-line"></i>
                                            <span>05 June, 2024</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination1 text-center"></div>
        </div>
        <!-- End Blog Area -->

        <!-- Start Guide Area -->
        <div class="guide-area bg-50 bottom border-tops-0">
            <div class="container mw-1380">
                <div class="guide-wrap position-relative z-1">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="guide-content">
                                <h2>A team of industry pros to guide you each step of the way</h2>
                                <p>Most people find that mortgage financing is complicated and confusing. We help you buy your dream home by simplifying the mortgage financing process with personalized loan options that save you time and money.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="guide-info">
                                <ul class="ps-0 list-unstyled">
                                    <li>
                                        <i class="ri-phone-fill"></i>
                                        <a href="tel:+1332455533">+1 3324 55 533</a>
                                    </li>
                                    <li>
                                        <i class="ri-mail-line"></i>
                                        <a href="mailto:hellolakssupport@laks.com">hellolakssupport@laks.com</a>
                                    </li>
                                </ul>
                                <a href="calculate-mortgage.html" class="btn border-0 bg-white">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <img src="{% static 'assets/images/shape-2.png' %}" class="shape shape-2 d-none d-xxl-block" alt="shape">
                </div>
            </div>
        </div>
        <!-- End Guide Area -->

{% endblock %}