{% extends 'include/base.html' %}
{% load static %}
{% block content %}

        <!-- Start Page Banner Area -->
        <div class="page-banner-area bg-gray2">
            <div class="container mw-1380">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="page-banner-content">
                            <ul class="ps-0 list-unstyled breadcrumbs">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <span>Contact Us</span>
                                </li>
                            </ul>
                            <h2>Mortgage Miracles: Transforming Dreams into Dwellings in the Real Estate Universe</h2>
                            <p>We truly care about what is best for you! From pre-approval to closing, our goal is to provide you with the best service while saving you money. We provide a completely customized experience, and will find the right loan program and best terms for you.</p>
                            <a href="loan-programs.html" class="read-more text-primary">
                                View All Program Loans
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="page-banner-img text-center text-lg-end position-relative z-1">
                            <img src="assets/images/banner-img-5.jpg" class="img" alt="banner-img">
                            <img src="assets/images/shape-7.png" class="shape shape-7" alt="shape">
                            <img src="assets/images/shape-8.png" class="shape shape-8" alt="shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area -->

        <!-- Start Contact Info Area -->
        <div class="contact-info-area pt-130 pb-105">
            <div class="container mw-1380">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="contact-info-single-item">
                            <h3>New York, USA</h3>
                            <ul class="ps-0 mb-0 list-unstyled">
                                <li class="d-flex align-items-center">
                                    <i class="ri-mail-line"></i>
                                    <a href="mailto:hello@alaks.com">hello@alaks.com</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="ri-map-pin-fill"></i>
                                    <span>USA Address - 254 Chapman Rd, Ste 208 #13379 Newark, Delaware 19702</span>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="ri-phone-fill"></i>
                                    <a href="tel:+202-9393-9393-99">+202-9393-9393 99</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="contact-info-single-item">
                            <h3>Lisbon, Portugal</h3>
                            <ul class="ps-0 mb-0 list-unstyled">
                                <li class="d-flex align-items-center">
                                    <i class="ri-mail-line"></i>
                                    <a href="mailto:hello@alaks.com">hello@alaks.com</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="ri-map-pin-fill"></i>
                                    <span>Portugal Address - 125 Chapman Rd, Ste 564 #47859 Lisbon, Delaware 159756</span>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="ri-phone-fill"></i>
                                    <a href="tel:+202-9393-9393-10">+202-9393-9393 10</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="contact-info-single-item">
                            <h3>Washington, USA</h3>
                            <ul class="ps-0 mb-0 list-unstyled">
                                <li class="d-flex align-items-center">
                                    <i class="ri-mail-line"></i>
                                    <a href="mailto:hello@alaks.com">hello@alaks.com</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="ri-map-pin-fill"></i>
                                    <span>USA Address - 852 Chapman Rd, Ste 436 #87964 Newark, Delaware 78985</span>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="ri-phone-fill"></i>
                                    <a href="tel:+202-9393-9393-01">+202-9393-9393 01</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Contact Info Area -->

        <!-- Start Contact Us Area -->
        <div class="contact-us-area overflow-hidden pb-130">
            <div class="container mw-1380">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-us-content">
                            <h2>Contact with us for your any help needed from our company</h2>
                            <form class="contact-us-form">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-sm-2 col-form-label label">Your email</label>
                                    <div class="col-sm-10">
                                      <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label class="col-sm-2 col-form-label label">Your name</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label class="col-sm-2 col-form-label label">Phone</label>
                                    <div class="col-sm-10">
                                      <input type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label class="col-sm-2 col-form-label label">Website</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label class="col-sm-2 col-form-label label">Zip Code</label>
                                    <div class="col-sm-10">
                                      <input type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-2 col-form-label label">Message</label>
                                    <div class="col-sm-10">
                                      <textarea cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="pt-lg-3 row">
                                    <label class="col-sm-2 col-form-label label"></label>
                                    <div class="col-sm-10">
                                        <button class="btn btn-dark border-0">
                                            Submit Your Message
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="google-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d193128.60170401802!2d-74.06876187081797!3d40.85794995846174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sHilton%2C%20TY56%2F90%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1707033454996!5m2!1sen!2sbd" style="width: 100%;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Contact Us Area -->

        <!-- Start Guide Area -->
        <div class="guide-area bg-50 bottom border-tops-0">
            <div class="container mw-1380">
                <div class="guide-wrap position-relative z-1">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="guide-content">
                                <h2>A team of industry pros to guide you each step of the way</h2>
                                <p>Most people find that mortgage financing is complicated and confusing. We help you buy your dream home by simplifying the mortgage financing process with personalized loan options that save you time and money.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="guide-info">
                                <ul class="ps-0 list-unstyled">
                                    <li>
                                        <i class="ri-phone-fill"></i>
                                        <a href="tel:+1332455533">+1 3324 55 533</a>
                                    </li>
                                    <li>
                                        <i class="ri-mail-line"></i>
                                        <a href="mailto:hellolakssupport@laks.com">hellolakssupport@laks.com</a>
                                    </li>
                                </ul>
                                <a href="calculate-mortgage.html" class="btn border-0 bg-white">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/shape-2.png" class="shape shape-2 d-none d-xxl-block" alt="shape">
                </div>
            </div>
        </div>
        <!-- End Guide Area -->

{% endblock %}