
{% extends 'include/base.html' %}
{% load static %}
{% block content %}


        <!-- Start Page Banner Area -->
        <div class="page-banner-area bg-gray2">
            <div class="container mw-1380">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="page-banner-content">
                            <ul class="ps-0 list-unstyled breadcrumbs">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <span>Loan Programs</span>
                                </li>
                            </ul>
                            <h2>Architects of Affordable Luxury: Your Journey with Real Estate Mortgages Begins Here</h2>
                            <p>We truly care about what is best for you! From pre-approval to closing, our goal is to provide you with the best service while saving you money. We provide a completely customized experience, and will find the right loan program and best terms for you.</p>
                            <a href="calculate-mortgage.html" class="read-more text-primary">
                                Calculate Your Payments
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="page-banner-img text-center text-lg-end position-relative z-1">
                            <img src="{% static 'assets/images/banner-img-2.jpg' %}" class="img" alt="banner-img">
                            <img src="{% static 'assets/images/shape-7.png' %}" class="shape shape-7" alt="shape">
                            <img src="{% static 'assets/images/shape-8.png' %}" class="shape shape-8" alt="shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area -->

        <!-- End Buying Area -->
        <div class="buying-area overflow-hidden ptb-130">
            <div class="container mw-1380">
                <div class="section-title mw-760">
                    <h2>Buying a home can be overwhelming. There are so many financing options</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="buying-single-item mb-4 transition-y">
                            <a href="loan-program-details.html" class="d-block buying-img">
                                <img src="{% static 'assets/images/buying-1.jpg' %}" alt="banner">
                            </a>
                            <div class="buying-content">
                                <h3>
                                    <a href="loan-program-details.html">Apartment & Commercial</a>
                                </h3>
                                <p>Cash buyers have the advantage - from getting their offers accepted to moving into their dream the homes faster. Cash buyers can save big too</p>
                                <div class="border-top">
                                    <a href="loan-program-details.html" class="read-more">
                                        Learn More
                                        <i class="flaticon-right-arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="buying-single-item mb-4 transition-y">
                            <a href="loan-program-details.html" class="d-block buying-img">
                                <img src="{% static 'assets/images/buying-2.jpg' %}" alt="banner">
                            </a>
                            <div class="buying-content">
                                <h3>
                                    <a href="loan-program-details.html">Private Mortgage Home Loans</a>
                                </h3>
                                <p>Cash buyers have the advantage - from getting their offers accepted to moving into their dream the homes faster. Cash buyers can save big too</p>
                                <div class="border-top">
                                    <a href="loan-program-details.html" class="read-more">
                                        Learn More
                                        <i class="flaticon-right-arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="buying-single-item mb-4 transition-y">
                            <a href="loan-program-details.html" class="d-block buying-img">
                                <img src="{% static 'assets/images/buying-3.jpg' %}" alt="banner">
                            </a>
                            <div class="buying-content">
                                <h3>
                                    <a href="loan-program-details.html">Reverse Mortgage Loans</a>
                                </h3>
                                <p>Cash buyers have the advantage - from getting their offers accepted to moving into their dream the homes faster. Cash buyers can save big too</p>
                                <div class="border-top">
                                    <a href="loan-program-details.html" class="read-more">
                                        Learn More
                                        <i class="flaticon-right-arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="buying-single-item mb-4 transition-y">
                            <a href="loan-program-details.html" class="d-block buying-img">
                                <img src="{% static 'assets/images/buying-5.jpg' %}" alt="banner">
                            </a>
                            <div class="buying-content">
                                <h3>
                                    <a href="loan-program-details.html">Private Mortgage Home Loans</a>
                                </h3>
                                <p>Cash buyers have the advantage - from getting their offers accepted to moving into their dream the homes faster. Cash buyers can save big too</p>
                                <div class="border-top">
                                    <a href="loan-program-details.html" class="read-more">
                                        Learn More
                                        <i class="flaticon-right-arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="buying-single-item mb-4 transition-y">
                            <a href="loan-program-details.html" class="d-block buying-img">
                                <img src="{% static 'assets/images/buying-4.jpg' %}" alt="banner">
                            </a>
                            <div class="buying-content">
                                <h3>
                                    <a href="loan-program-details.html">Private Mortgage Loans</a>
                                </h3>
                                <p>Cash buyers have the advantage - from getting their offers accepted to moving into their dream the homes faster. Cash buyers can save big too</p>
                                <div class="border-top">
                                    <a href="loan-program-details.html" class="read-more">
                                        Learn More
                                        <i class="flaticon-right-arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="buying-single-item mb-4 transition-y">
                            <a href="loan-program-details.html" class="d-block buying-img">
                                <img src="{% static 'assets/images/buying-6.jpg' %}" alt="banner">
                            </a>
                            <div class="buying-content">
                                <h3>
                                    <a href="loan-program-details.html">Apartment & Reverse Mortgage</a>
                                </h3>
                                <p>Cash buyers have the advantage - from getting their offers accepted to moving into their dream the homes faster. Cash buyers can save big too</p>
                                <div class="border-top">
                                    <a href="loan-program-details.html" class="read-more">
                                        Learn More
                                        <i class="flaticon-right-arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="pagination-area text-center mt-4">
                            <a href="loan-programs.html" class="next page-numbers">
                                <i class="ri-arrow-left-line"></i>
                            </a>

                            <span class="page-numbers current" aria-current="page">01</span>
                            <a href="loan-programs.html" class="page-numbers">02</a>
                            <a href="loan-programs.html" class="page-numbers">03</a>

                            <a href="loan-programs.html" class="next page-numbers">
                                <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Buying Area -->

        <!-- Start Guide Area -->
        <div class="guide-area bg-50 bottom border-tops-0">
            <div class="container mw-1380">
                <div class="guide-wrap position-relative z-1">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="guide-content">
                                <h2>A team of industry pros to guide you each step of the way</h2>
                                <p>Most people find that mortgage financing is complicated and confusing. We help you buy your dream home by simplifying the mortgage financing process with personalized loan options that save you time and money.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="guide-info">
                                <ul class="ps-0 list-unstyled">
                                    <li>
                                        <i class="ri-phone-fill"></i>
                                        <a href="tel:+1332455533">+1 3324 55 533</a>
                                    </li>
                                    <li>
                                        <i class="ri-mail-line"></i>
                                        <a href="mailto:hellolakssupport@laks.com">hellolakssupport@laks.com</a>
                                    </li>
                                </ul>
                                <a href="calculate-mortgage.html" class="btn border-0 bg-white">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <img src="{% static 'assets/images/shape-2.png' %}" class="shape shape-2 d-none d-xxl-block" alt="shape">
                </div>
            </div>
        </div>
        <!-- End Guide Area -->


{% endblock %}