{% extends 'include/base.html' %}
{% load static %}
{% block content %}

        <!-- Start Page Banner Area -->
        <div class="page-banner-area bg-gray2">
            <div class="container mw-1380">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="page-banner-content">
                            <ul class="ps-0 list-unstyled breadcrumbs">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <span>Loan Program Details</span>
                                </li>
                            </ul>
                            <h2>Mortgage Miracles: Transforming Dreams into Dwellings in the Real Estate Universe</h2>
                            <p>We truly care about what is best for you! From pre-approval to closing, our goal is to provide you with the best service while saving you money. We provide a completely customized experience, and will find the right loan program and best terms for you.</p>
                            <a href="loan-programs.html" class="read-more text-primary">
                                View All Program Loans
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="page-banner-img text-center text-lg-end position-relative z-1">
                            <img src="{% static 'assets/images/banner-img-7.jpg' %}" class="img" alt="banner-img">
                            <img src="{% static 'assets/images/shape-7.png' %}" class="shape shape-7" alt="shape">
                            <img src="{% static 'assets/images/shape-8.png' %}" class="shape shape-8" alt="shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area -->

        <!-- Start Details Pages Area -->
        <div class="details-contenet-area ptb-130">
            <div class="container">
                <div class="details-contenet mw-1095">
                    <div class="buying-img">
                        <img src="{% static 'assets/images/buying-7.jpg' %}" alt="buying">
                    </div>

                    <h4 class="dolar"><span>$50,000</span> to <span>$20</span> million loans</h4>
                    <h2>Quality commercial loans to suit your own unique needs</h2>
                    <p>Cash buyers have the advantage - from getting their offers accepted to moving into their dream the homes faster. Cash buyers can save big too. Business owners and investors come to Fidelity Mortgage Lenders because we offer quality commercial loans with attractive payments, speed and discretion</p>
                    <p>Where? Where? We can help you obtain real estate loans in California, Colorado, Idaho, Montana, Oregon, Texas, Utah, Washington and ask us about loans in Nevada. Size? Our commercial loans range from <span class="text-primary">$50,000</span> to <span class="text-primary">$20</span> million.  We accommodate a variety of property loans (excluding construction and raw land). Easy Process? We make borrowing easy.  There are no prepayment penalties.  The application is short. We don’t need tax returns, and personal guarantees aren’t required.</p>
                    <p>Hassle Free? High-Quality Customer Service is important.  Our borrowers are busy people, so our receptionist answers all calls and gets you the right person on the phone quickly.  There’s no waiting – and no voice mail – at Fidelity. Get Closed? Whether you want to purchase or refinance commercial or industrial properties, apartment buildings, motels, religious facilities or otherwise, we can help get your deal funded and closed.</p>

                    <div class="mb-40"></div>

                    <div class="bg-gray2 p-4 p-lg-5 rounded-4 border">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-sm-6">
                                <div class="why-us-single-item border-0 rounded-0 p-0">
                                    <div class="d-flex align-items-center">
                                        <i class="flaticon-currency"></i>
                                        <h3>Competitive Rates</h3>
                                    </div>
                                    <p>The amount a lender is willing to lend to financing your purchase fact in your ratio of debt to income, among other things.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="why-us-single-item border-0 rounded-0 p-0">
                                    <div class="d-flex align-items-center">
                                        <i class="flaticon-credit-card"></i>
                                        <h3>No Prepayment Fees</h3>
                                    </div>
                                    <p>The amount a lender is willing to lend to financing your purchase fact in your ratio of debt to income, among other things.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="why-us-single-item border-0 rounded-0 p-0">
                                    <div class="d-flex align-items-center">
                                        <i class="flaticon-rating"></i>
                                        <h3>Simple Qualification</h3>
                                    </div>
                                    <p>The amount a lender is willing to lend to financing your purchase fact in your ratio of debt to income, among other things.</p>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom"></div>
                        <h3 class="text-center pt-4">We make loans on properties including:</h3>
                        <ul class="ps-0 mb-0 list-unstyled d-flex flex-wrap justify-content-center gap-3 gap-lg-4 properties-list">
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Retail</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Apartments</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Factories</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Strip Centers</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Factories</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Office Buildings</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Warehouses</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Industrial</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Non-Profits</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Religious Institutions & Buildings</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Mixed-Use / Single Use</span>
                            </li>
                        </ul>
                    </div>

                    <div class="mb-40"></div>

                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h3>We make borrowing easy</h3>
                            <p>The amount a lender is willing to lend to financing your purchase fact in your ratio of debt to income, among other things.</p>
                            <ul class="easy-list list-style list-unstyled ps-0 mb-0">
                                <li>Fixed rate loan terms of 1 to 5 years with interest-only payments**</li>
                                <li>Up to 20 years fully amortized</li>
                                <li>30 year amortization schedule with a balloon payment due in 15</li>
                                <li>Customized loan terms to fit your unique needs</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="easy-img mt-4 mt-lg-0 text-center">
                                <img src="{% static 'assets/images/buying-6.jpg' %}" class="rounded-4" alt="buying">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Details Pages Area -->

        <!-- Start Guide Area -->
        <div class="guide-area bg-50 bottom border-tops-0">
            <div class="container mw-1380">
                <div class="guide-wrap position-relative z-1">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="guide-content">
                                <h2>A team of industry pros to guide you each step of the way</h2>
                                <p>Most people find that mortgage financing is complicated and confusing. We help you buy your dream home by simplifying the mortgage financing process with personalized loan options that save you time and money.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="guide-info">
                                <ul class="ps-0 list-unstyled">
                                    <li>
                                        <i class="ri-phone-fill"></i>
                                        <a href="tel:+1332455533">+1 3324 55 533</a>
                                    </li>
                                    <li>
                                        <i class="ri-mail-line"></i>
                                        <a href="mailto:hellolakssupport@laks.com">hellolakssupport@laks.com</a>
                                    </li>
                                </ul>
                                <a href="calculate-mortgage.html" class="btn border-0 bg-white">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <img src="{% static 'assets/images/shape-2.png' %}" class="shape shape-2 d-none d-xxl-block" alt="shape">
                </div>
            </div>
        </div>
        <!-- End Guide Area -->

{% endblock %}